[defaults]
host_key_checking = false
forks=11

timeout = 120
remote_tmp=~/tmp
connection_plugins = ./plugins/connection
log_path = ~/.ansible/ansible.log
jinja2_extensions = jinja2.ext.do,jinja2.ext.i18n,jinja2.ext.loopcontrols
inventory_ignore_extensions = ~, .orig, .bak, .ini, .cfg, .retry, .pyc, .pyo
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
callback_whitelist = profile_tasks
retry_files_enabled = False
deprecation_warnings=False
